<footer class="container green-bg color-white text-center py-4">
   <div class="justify-content-center h3 d-flex m-0">
            <i class="far fa-newspaper mx-2 align-self-center"></i>
            <p class="m-0 p-0">NewsWeb</p>
    </div>
    <div>
        <p class="h5 mt-2 mb-0">Contact US</p>
        <p class="h6">news@gmail.com</p>
    </div>
</footer>