<header>
<div class="container">
    <div class="green-bg color-white d-flex py-2">
        <div class="w-25 h3 d-flex m-0">
            <i class="far fa-newspaper mx-2 align-self-center"></i>
            <p class="m-0 p-0">NewsWeb</p>
            </div>
        <div class="w-75 d-flex justify-content-evenly">
            <a class="text-decoration-none color-white" href="">Home</a>
            <a class="text-decoration-none color-white" href="">About</a>
            <a class="text-decoration-none color-white" href="">Pages</a>
            <a class="text-decoration-none color-white" href="">Egypt</a>
            <a class="text-decoration-none color-white" href="">World</a>
            <a class="text-decoration-none color-white" href="">Login</a>
        </div>
    </div>
</div>
</header>